{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script>
$(document).ready( function () {
$('#actsTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Polish.json"
}
});
} );

    </script>
    {{ form.media.js }}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="container fluid mt-4">
        <h1 class="display-5">Akty prawne</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-3 col-0  p-2 pt-0">
                {% load crispy_forms_tags %}
                <form method="get" class="rounded shadow p-3 " novalidate>
                    <h4 class="text-danger ">Filtruj</h4>
                    <hr class="my-4 text-danger">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary m-2">Filtruj</button>
                    <button type="reset" class="btn btn-secondary m-2">Resetuj filtry</button>
                </form>
            </div>
            <!-- Your table goes here in the 'col-md-9' div -->
            <div class="col-lg-9 col-12 pl-0 pl-lg-4 ">
                <table class="table table-striped table-hover " id='actsTable'>
                    <thead>
                        <tr>
                            <th>ELI</th>
                            <th>Tytuł</th>
                            <th>Data publikacji</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for act in acts %}
                            <tr>
                                <td>
                                    <a href="{{ act.url }}">{{ act.ELI }}</a>
                                </td>
                                <td>{{ act.title|truncatechars:200 }}</td>
                                <td>{{ act.changeDate|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
