<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
      <head>
            <meta name="description"
                  content="Sejm 2.0 Oficjalne Dane sejmowe przedstawione w przejrzysty sposób." />
            <meta name="keywords" content="sejm parlament polska posłowie" />
            {% load static %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>Sejm 2.0</title>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            {% comment %} <script type="text/javascript"  src="{% static 'js/mdb.min.js' %}"></script> {% endcomment %}
            {% block extra_head %}
            {% endblock extra_head %}
            <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
                  rel="stylesheet"
                  type="text/css" />
            <link href="{% static 'fontawesomefree/css/brands.css' %}"
                  rel="stylesheet"
                  type="text/css" />
            <link href="{% static 'fontawesomefree/css/solid.css' %}"
                  rel="stylesheet"
                  type="text/css" />
            <link rel="stylesheet"
                  href="{% static 'css/mdb.min.css' %}"
                  type="text/css"
                  media="screen,projection" />
            <link rel="stylesheet" href="{% static 'css/style.css' %}" />
            <script src="{% static 'js/script.js' %}"></script>
            <link rel="shortcut icon"
                  type="image/png"
                  href="{% static 'img/favicon.ico' %}">
            <!-- <script src="{% static 'js/bootstrap.min.js' %}" defer></script> -->
      </head>
      <body class="d-flex flex-column h-100 w-100 ">
            {% include "navbar.html" %}
            {% include "sidebar.html" %}
            <main class="h-100 m-0">
                  {% block content %}
                  {% endblock content %}
            </main>
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 px-5 my-4 border-top">
                  <div class="col-md-4 d-flex align-items-center">
                        <a href="/"
                           class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                              <img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="30">
                              <!-- Replace with your actual logo path -->
                        </a>
                        <span class="text-muted">© 2024 Michal Skibinski. All rights reserved.</span>
                  </div>
                  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                        <li class="mx-3">
                              <a class="text-muted"
                                 href="https://michalskibinski109.github.io/sejm-stats-docs/"
                                 title="Documentation">
                                    <i class="fas fa-xl fa-book text-primary"></i>
                              </a>
                        </li>
                        <li class="mx-3">
                              <a class="text-muted"
                                 href="https://www.youtube.com/@sejm-stats"
                                 title="YouTube">
                                    <i class="fab  fa-xl fa-youtube text-danger"></i>
                              </a>
                        </li>
                        <li class="mx-3">
                              <a class="text-muted"
                                 href="https://patronite.pl/sejm-stats"
                                 title="Patronite">
                                    <i class="fas  fa-xl fa-heart text-danger"></i>
                              </a>
                        </li>
                        <li class="mx-3">
                              <a class="text-muted"
                                 href="mailto:mskibinski109@gmail.com"
                                 title="Email">
                                    <i class="fas  fa-xl text-primary fa-envelope"></i>
                              </a>
                        </li>
                  </ul>
            </footer>
      </body>
</html>
