{% extends 'base.html' %}
{% load math_filters %}
{% load static %}
{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/clubs_chart.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock extra_head %}
{% block content %}
    <div class="container fluid mt-4">
        <h1 class="display-5">Kluby parlamentarne</h1>
        <hr class="my-4">
        <div class="row">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <ul class="list-group mb-3">
                        {% for club in clubs %}
                            <a href="{% url 'club_detail' club.id %}"
                               class="list-group-item d-flex align-items-center rounded border m-1 border clickable-card"
                               style="background: linear-gradient(90deg, rgba(120,120,120,0.2) {{ club.members_count|divide }}%, transparent {{ club.members_count|divide }}%)">
                                <span class="bg-white rounded p-1 m-2 me-4">
                                    <img src="{{ club.photo.url }}"
                                         class=""
                                         alt="{{ club.id }}"
                                         style="height: 40px;
                                                width: 40px">
                                </span>
                                <div>
                                    <h5 class="mb-0">{{ club.id }}</h5>
                                    <p class="mb-0">{{ club.members_count }} posłów</p>
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-5 col-12">
                    <canvas id="envoysChart" data-clubs="{{ clubs_json }}"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
