{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script>
$(document).ready( function () {
    $('#committeeTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Polish.json"
        }
    });
});
    </script>
    {{ form.media.js }}
    {{ form.media.css }}
{% endblock extra_head %}
{% block content %}
    <div class="modal fade"
         id="helpCommittee"
         tabindex="-1"
         aria-labelledby="envoyModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="envoyModalLabel">Co to jest komisja sejmowa?</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <blockquote class="text-muted fst-italic">
                        Komisje sejmowe to organy pomocnicze Sejmu, powoływane w celu szczegółowego rozpatrywania spraw należących do zakresu działania Sejmu. Podzielone są na stałe i nadzwyczajne, zajmują się przygotowaniem projektów ustaw i sprawozdań z ich realizacji.
                    </blockquote>
                    Zadania i funkcje
                    <hr />
                    <ul>
                        <li>
                            <strong>Przygotowanie ustaw:</strong> Komisje analizują i opiniują projekty ustaw przed ich pierwszym czytaniem w Sejmie.
                        </li>
                        <li>
                            <strong>Kontrola rządu:</strong> Prowadzą działania kontrolne wobec działań rządu i administracji państwowej.
                        </li>
                        <li>
                            <strong>Praca nad specjalistycznymi zagadnieniami:</strong> Każda komisja specjalizuje się w określonej dziedzinie (np. gospodarka, zdrowie), co pozwala na głębszą analizę projektów ustaw.
                        </li>
                        <li>
                            <strong>Organizacja wysłuchań publicznych:</strong> Mogą organizować wysłuchania publiczne w celu zgromadzenia opinii na temat projektów ustaw.
                        </li>
                    </ul>
                    <a href="https://pl.wikipedia.org/wiki/Komisja_sejmowa" target="_blank">Więcej na temat komisji sejmowych na Wikipedii</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-fluid mt-4">
        <div class=" display-5  d-flex justify-content-between">
            Komisje sejmowe
            <span>
                <i class="fa-solid fa-circle-info mx-1 fs-3 text-primary"
                   data-bs-toggle="modal"
                   data-bs-target="#helpCommittee"></i>
            </span>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-3  p-2 pt-0">
                {% load crispy_forms_tags %}
                <form method="get" class="rounded border p-3 " novalidate>
                    <h4 class="text-danger ">Filtruj</h4>
                    <hr class="my-4 text-danger">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary m-2">Filtruj</button>
                    <button type="reset" class="btn btn-secondary m-2">Resetuj filtry</button>
                </form>
            </div>
            <div class="col-9">
                <table id="committeeTable" class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Kod</th>
                            <th>Nazwa</th>
                            <th>Typ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for committee in committees %}
                            <tr>
                                <td>{{ committee.code }}</td>
                                <td>
                                    <a href="{% url 'committee_detail' committee.code %}">{{ committee.name }}</a>
                                </td>
                                <td>{{ committee.get_type_display }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">Nie znaleziono komisji</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
