{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <script src="{% static 'js/home.js' %}" defer></script>
{% endblock extra_head %}
{% block content %}
  <div class="row m-0 bg-primary">
    <div class="col-12 text-center text-white p-3">
      <!-- <p class="text-light lead mb-4 ">
      <span class="fst-italic">
        "Naród, który nie potrafi pilnować swojego rządu, nie zasługuje na wolność."
      </span>
      - Carl Schurz
    </p> -->
      <h1 class="display-3 mb-4">Sejm stats</h1>
      <p class="text-light">
        <b class="text-danger">Parlament pod lupą</b>: Kompleksowy Przegląd Aktywności Sejmowej
      </p>
      <div class="container-fluid px-lg-5 px-1 my-4 mb-5">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-12">
            <form action="{% url 'search' %}" method="get">
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="Wpisz hasło np. Wiatraki, Kaczyński etc."
                       aria-label="Search"
                       name="search">
                <button class="btn btn-outline-light" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row m-lg-4 m-1 p-lg-5 p-1">
        <div class="col-6 col-lg-3">
          <i class="fa-4x fa-person fa-regular"></i>
          <p class="text-light  p-3">Informacje na temat posłów, wykształcenia, zarobków, i wiele innych.</p>
        </div>
        <div class="col-6 col-lg-3">
          <i class="fa-4x  fa-regular fa-house"></i>
          <p class="text-light p-3">Informacje o klubach parlamentarnych, ich członkach i liderach</p>
        </div>
        <div class="col-6 col-lg-3">
          <i class="fa-4x fa-chart-simple fa-regular"></i>
          <p class="text-light  p-3">Statystyki dot, głosowań, afer, klubów parlamentarnych</p>
        </div>
        <div class="col-6 col-lg-3">
          <i class="fa-4x fa-regular fa-money-bill-1"></i>
          <p class="text-light  p-3">
            Informacje o aferach rządowych
            (uzupełniane prez administratorów)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row my-4 ">
    <div class="col-lg-6 my-4 ">
      <div class="row">
        {% for card in cards %}
          <div class="col-md-6 col-12  ">
            <div class="border rounded m-3 mx-1 p-2 clickable-card shadow ">
              <h1 class="fs-2 lead text-center p-1">{{ card.title }}</h1>
              <p class="counter display-4 text-center {{ card.color }}">{{ card.count }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-6 my-4 ">
      <h1 class="display-6 text-center p-1 text-danger">Ostatnie głosowania</h1>
      <ul class="list-group mb-3">
        {% for voting in latest_votings %}
          <hr class="m-0 p-0 " />
          <li class="list-group-item d-flex justify-content-center align-items-center m-2  border-0 border-bottom-1 clickable-card">
            <p class="m-0 me-2">
              {% if voting.success %}
                <i class="fa text-success fa-lg fa-check"></i>
              {% else %}
                <i class="fa text-danger fa-lg fa-x"></i>
              {% endif %}
            </p>
            {{ voting.title|truncatechars:120 }}
            <p class="text-muted px-2">{{ voting.date|date:"d.m.Y" }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <h1 class="display-5">Aktualności</h1>
  <hr class="mb-5" />
  <div class="col-lg-6 col-12 p-lg-5 p-1">
    <img src="{% static 'img/example.png' %}"
         class="img-fluid rounded"
         alt="placeholder"
         style="max-height: 500px" />
  </div>
  <div class="col-lg-6 col-12">
    <h1 class="display-6 text-center text-danger">Lorem ipsum dolor</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam ratione qui illo,
    vitae optio aspernatur temporibus sint culpa consectetur atque quas ut eaque omnis voluptatem autem sapiente.
    Quasi nostrum possimus nesciunt! At assumenda distinctio, ullam ut nulla inventore soluta tempora eum iure nobis
    ea reprehenderit perferendis sapiente eligendi adipisci similique facere esse officia neque expedita quidem
    molestiae? Minus eaque aliquam illum harum quae accusantium numquam dolorum aliquid aut, sint ducimus unde
    maiores? Similique ullam, illum temporibus quasi quae asperiores nam totam itaque? Vero expedita necessitatibus
    veniam numquam debitis ex hic, odit aliquam nulla ullam itaque, nam magni ipsa enim sint rem. Incidunt numquam
    ducimus fuga sit. Quasi repellat ipsam quibusdam veritatis ducimus esse dolores, in laboriosam illo autem
    doloribus cumque debitis voluptate sunt nisi nihil quo nemo dolor commodi dolorum excepturi. Magni ducimus
    adipisci reiciendis aliquid nemo dolor nesciunt et blanditiis molestiae velit voluptatum sapiente odit sequi rerum
    voluptate itaque nobis saepe aspernatur id sint earum, provident facilis facere. Culpa blanditiis minus, officiis
    architecto perferendis alias laboriosam pariatur earum voluptatum, corporis repellat aperiam reiciendis
    distinctio. Quia eligendi ab qui voluptatum.
  </div>
</div>
</div>
{% endblock content %}
