{% load static %}
<nav class="navbar navbar-expand-lg rounded-bottom border-3 border-bottom border-danger pb-1">
    <div class="container-fluid">
        <a class="navbar-brand nav-item d-flex justify-content-center align-items-center"
           href="/"
           style="height: 100%">
            <img src="{% static 'img/logo.png' %}"
                 alt="logo"
                 width="40"
                 height="40"
                 class="d-inline-block align-middle">
            <p class="fs-4 mx-1 m-0 text-center">sejm-stats</p>
            {% comment %} <span class="mx-3  badge bg-danger text-wrap">pre-release version</span> {% endcomment %}
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-start "
                       aria-current="page"
                       href="{% url 'envoys' %}">Posłowie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="{% url 'clubs' %}">Kluby
                    parlamentarne</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'votings' %}">Głosowania</a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'faq' %}">FAQ</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'acts' %}">Akty prawne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       aria-current="page"
                       href="{% url 'processes' %}">Procesy legislacyjne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active "
                       aria-current="page"
                       href="{% url 'scandals' %}">Afery rządowe</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/admin">Admin</a>
                </li> {% endcomment %}
            </ul>
        </div>
        <div id="theme-toggle"
             class="nav-item me-3 d-flex align-items-center"
             style="cursor: pointer">
            <i id="theme-toggle-icon" class="fas fa-moon fa-2x"></i>
        </div>
    </div>
</nav>
