{% load static %}
<nav class="navbar navbar-expand-lg rounded-bottom border-3 border-bottom border-danger pb-1">
    <div class="container-fluid">
        <!-- Offcanvas toggle button -->
        <button class="btn btn-outline-danger"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#sidebarMenu"
                aria-controls="offcanvasScrolling">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Logo and title next to the toggle button -->
        <a class="navbar-brand nav-item d-flex justify-content-center align-items-center mx-3"
           href="/"
           style="height: 100%">
            <img src="{% static 'img/logo.png' %}"
                 alt="logo"
                 width="40"
                 height="40"
                 class="d-inline-block align-middle">
            <p class="fs-4 mx-1 m-0 text-center">Sejm-Stats</p>
        </a>
        <span class="mx-1 badge bg-danger text-wrap">beta</span>
        <div class="d-flex ms-auto">
            {% if user.is_authenticated %}
                <div class="cursor-pointer"
                     id="updateButton"
                     data-csrf='{% csrf_token %}'
                     data-href="{% url 'update' %}">
                    <i class="fas text-danger fa-sync-alt mx-3"></i>
                </div>
            {% endif %}
            <a class="text-muted mx-3" href="/admin" title="Zaloguj">
                <i class="fas fa-sign-in-alt fa-lg"></i>
            </a>
            <a id="theme-toggle" class="text-muted mx-3" style="cursor: pointer;">
                <i id="theme-toggle-icon" class="fas fa-lg fa-moon"></i>
            </a>
        </div>
    </div>
</nav>
