{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet"
          href="{% static 'css/steps.css' %}"
          type="text/css"
          media="screen,projection" />
{% endblock %}
{% block content %}
    <div class="container fluid mt-4">
        <div class="row mt-5">
            <div class="col-xl-6 col-12 p-5">
                <p class="display-6 fs-3">
                    {{ process.print }}<a href="{{ process.print.pdf_url }}"
   target="_blank"
   class="col-1 p-1 text-decoration-none">
                    <i class="fas fa-file-pdf "></i>
                </a>
            </p>
            <hr class="my-4">
            <h4 class="display-6 fs-2">Opis</h4>
            {% lorem 3 %}
        </div>
        <div class="col-xl-6 col-12 px-4">
            <div class="row m-3">
                <div class="timeline m-5">
                    <!-- Timeline item -->
                    {% for stage in stages %}
                        <div class="timeline-step">
                            <div class="timeline-content shadow border-top border-2 border-danger rounded-bottom p-3 ">
                                {% if stage.date %}
                                    <div class="timeline-badge">{{ stage.date }}</div>
                                {% else %}
                                    <div class="timeline-badge">Nie podano</div>
                                {% endif %}
                                <h5>{{ stage.stageName }}</h5>
                                {% if stage.voting %}
                                    <a href="{% url 'voting_detail' stage.voting.id %}" class="">Głosowanie</a>
                                {% endif %}
                                {% if stage.decision %}
                                    <p>
                                        {{ stage.decision }}
                                        {% if stage.result == "PASS" %}
                                            <i class="fas fa-check text-success mx-2"></i>
                                        {% elif stage.result == "FAIL" %}
                                            <i class="fas fa-times-circle fa-2x text-danger mx-2"></i>
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <p>No stages found</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
