{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script>
$(document).ready( function () {
    $('#processesTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Polish.json"
        }
    });
});
    </script>
{% endblock extra_head %}
{% block content %}
    <div class="container">
        <h1>Procesy legislacyjne</h1>
        <table id="processesTable" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tytuł</th>
                    <th>Typ dokumentu</th>
                    <th>Data rozpoczęcia</th>
                </tr>
            </thead>
            <tbody>
                {% for process in processes %}
                    <tr>
                        <td>{{ process.number }}</td>
                        <td>
                            <a href="{% url 'process_detail' process.id %}">{{ process.title }}</a>
                        </td>
                        <td>{{ process.document_type }}</td>
                        <td>{{ process.process_start_date }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">Nie znaleziono procesów</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
