{% extends 'base.html' %}
{% block extra_head %}
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script>
$(document).ready( function () {
$('#votingTable').DataTable({
"pagingType": "full_numbers",
"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
"responsive": true,
"language": {
"lengthMenu": "Wyświetl _MENU_ rekordów na stronę",
"zeroRecords": "Nie znaleziono pasujących rekordów",
"info": "Wyświetlanie strony _PAGE_ z _PAGES_",
"infoEmpty": "Brak dostępnych rekordów",
"infoFiltered": "(przefiltrowane z _MAX_ wszystkich rekordów)",
"search": "Szukaj:",
"paginate": {
"first": "Pierwsza",
"last": "Ostatnia",
"next": "Następna",
"previous": "Poprzednia"
},
}
});
} );
    </script>
{% endblock extra_head %}
{% block content %}
    {% comment %} <div class="alert alert-info lead text-center fw-bold" role="alert">Funkcja dostępna wkrótce !</div> {% endcomment %}
    <div class="container container-fluid mt-4">
        <h1 class="display-5">Głosowania</h1>
        <hr class="my-4">
        <table class="table" id="votingTable">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Data głosowania</th>
                    <th scope="col">Temat</th>
                    <th scope="col">Głosy na tak</th>
                    <th scope="col">Głosy na nie</th>
                </tr>
            </thead>
            <tbody>
                {% for voting in votings %}
                    <tr>
                        <td>
                            {% if voting.success %}
                                <i class="fa text-success fa-lg fa-check"></i>
                            {% else %}
                                <i class="fa text-danger fa-lg fa-x"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% for url in voting.resolution_urls %}<a href="{{ url }}">{{ voting.votingNumber }}" "</a>{% endfor %}
                        </td>
                        <td>{{ voting.date }}</td>
                        <td>{{ voting.title|default:voting.description }}</td>
                        <td>{{ voting.yes }}</td>
                        <td>{{ voting.no }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
