<nav class="navbar navbar-expand-lg rounded-bottom bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand  nav-item d-flex align-items-center " href="/">
            <i class="fa-solid fa-magnifying-glass fa-2x  text-light mx-3 "></i>
            <b class="fs-4  text-light">Sejm Stats</b>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-start  text-light"
                       aria-current="page"
                       href="{% url 'envoys' %}">Posłowie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-light"
                       aria-current="page"
                       href="{% url 'clubs' %}">Kluby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-light"
                       aria-current="page"
                       href="{% url 'votings' %}">Głosowania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-light" aria-current="page" href="/admin">Admin</a>
                </li>
            </ul>
        </div>
        <div id="theme-toggle"
             class="nav-item me-3 d-flex align-items-center  "
             style="cursor: pointer">
            <span class="navbar-text p-2 text-light mx-2">Motyw</span>
            <i id="theme-toggle-icon" class="fa-solid fa-sun fa-2x text-light"></i>
        </div>
    </div>
</nav>
